[Unit]
Description=Gunicorn to serve demo-webapp
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/demo-webapp/demo-webapp
Environment="PATH=/var/www/demo-webapp/venv/bin"
ExecStart=/var/www/demo-webapp/venv/bin/gunicorn --workers 1 --bind 0.0.0.0:5000 wsgi:demowebapp

[Install]
WantedBy=multi-user.target
