{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/slow" class="nav-link">Heavy Calculation</a></li>
<li class="nav-item"><a href="/api-proxy" class="nav-link active" aria-current="page">API Proxy</a></li>
<li class="nav-item"><a href="/database" class="nav-link">Database</a></li>
{% endblock %}

{% block apiproxy %}
      <div class="row">
        <figure class="text-center">
        <div class="col"><h2 class="display-6">Random advice</h2></div> 
        </figure>
      </div>
      <div class="row">
        <figure class="text-center">
            <blockquote>
              <p><samp>N°{{advice.id}}: {{ advice.advice }}</samp></p>
              <figcaption class="blockquote-footer">Someone famous in <cite title="AdviceSlip.com Public API">Adviceslip.com</cite></figcaption>
            </blockquote>
          </figure>
        </div> 
      </div>
{% endblock %}