{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/slow" class="nav-link">Heavy Calculation</a></li>
<li class="nav-item"><a href="/api-proxy" class="nav-link">API Proxy</a></li>
<li class="nav-item"><a href="/database" class="nav-link active" aria-current="page">Database</a></li>
{% endblock %}

{% block database %}
      <div class="row">
        <figure class="text-center">
        <div class="col"><h2 class="display-6">Database Demo</h2></div> 
        </figure>
      </div>
      <div class="row">
        <p>This is a demo with Exoscale DBaas.</p>
      </div>
{% endblock %}