{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
<li class="nav-item"><a href="/slow" class="nav-link">Heavy Calculation</a></li>
{% endblock %}

{% block network %}
      <div class="row">
        <div class="col"><h5>Served by: {{ server.hostname }} <span class="badge rounded-pill bg-success">{{ server.ipaddr }}</span></h5>
          <p><small>at {{ server.time_request }}</small></p></div>
      </div>
      <div class="row">
        <figure class="text-center">
        <div class="col"><h2 class="display-6">Random advice</h2>
            <blockquote>
              <p><samp>N°{{advice.id}}: {{ advice.advice }}</samp></p>
              <figcaption class="blockquote-footer">Someone famous in <cite title="AdviceSlip.com Public API">Adviceslip.com</cite></figcaption>
            </blockquote>
          </div>
         </figure>
      </div>
        <figure class="text-center">
        <div class="row">
          <div class="col"><h2 class="display-6">Ping times from your location</h2></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
              <div class="w-auto p-3" style="background-color: #eee;">
                <div class="ratio ratio-4x3"><iframe src="https://sos-ch-dk-2.exo.io/ping-times/index.html"></iframe></div>
              </div>
            </div>
          </div>
        </div>
      </figure>
{% endblock %}