{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
<li class="nav-item"><a href="/slow" class="nav-link">Heavy Calculation</a></li>
<li class="nav-item"><a href="/api-proxy" class="nav-link">API Proxy</a></li>
<li class="nav-item"><a href="/database" class="nav-link">Database</a></li>
<li class="nav-item"><a href="/pingtimes" class="nav-link">Pingtimes</a></li>
<li class="nav-item"><a href="/links" class="nav-link">Links</a></li>
{% endblock %}

{% block network %}
      <div class="row">
        <figure class="text-center">
        <div class="col"><h2 class="display-6">Who delivered this page?</h2></div> 
        </figure>
      </div>
      <div class="row">
        <figure class="text-center">
          <div class="col"><h5>Served by: {{ server.hostname }} <span class="badge rounded-pill bg-success">{{ server.ipaddr }}</span></h5>
            <p><small>at {{ server.time_request }}</small></p>
          </div>
        </figure>
      </div>
{% endblock %}