{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
<li class="nav-item"><a href="/slow" class="nav-link active">Heavy Calculation</a></li>
{% endblock %}

{% block slow %}
      <div class="row">
        <figure class="text-center">
        <div class="col"><h2 class="display-6">Heavy calculation</h2></div> 
        </figure>
      </div>
      <div>
        <p class="text-center">This is the result of a looooong calculation (slow):</p>
        <p class="text-center">Number: {{ number }}</p>
        <p class="text-center">Duration: {{ duration }}</p>
      </div>
{% endblock %}