{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/slow" class="nav-link active" aria-current="page">Heavy Calculation</a></li>
<li class="nav-item"><a href="/api-proxy" class="nav-link">API Proxy</a></li>
<li class="nav-item"><a href="/database" class="nav-link">Database</a></li>
<li class="nav-item"><a href="/pingtimes" class="nav-link">Pingtimes</a></li>
<li class="nav-item"><a href="/links" class="nav-link">Links</a></li>
{% endblock %}

{% block slow %}
      <div class="row">
        <figure class="text-center">
        <div class="col"><h2 class="display-6">Result of LOOONG Calculation</h2></div> 
        </figure>
      </div>
      <div class="row">
        <figure class="text-center">
          <p class="font-weight-light">Number: {{ number }}</p>
          <p class="font-weight-light">Duration: {{ duration }}</p>
        </figure>
      </div>
{% endblock %}